@font-face {
    font-family:"PP Neue Montreal Book";
    src: url("./public/fonts/PP\ Neue\ Montreal\ -\ Free\ for\ Personal\ Use\ v2.6/OTF/PPNeueMontreal-Book.otf");
}
@font-face {
    font-family: "PP Neue Montreal Thin";
    src: url("./public/fonts/PP\ Neue\ Montreal\ -\ Free\ for\ Personal\ Use\ v2.6/OTF/PPNeueMontreal-Thin.otf");
}
@font-face {
    font-family: "PP Gatwick Jet Extralight";
    src: url("./public/fonts/PP\ Gatwick\ -\ Free\ for\ Personal\ Use\ v2.0/otf/PPGatwick-JetExtralight.otf");
}
@font-face {
    font-family: "Roslindale Display Condensed, sans-serif";
    src: url("../fonts/Roslindale_Web/fonts/RoslindaleDisplayCondensed-Regular.woff");
}
:root {
    --font-family-one: "PP Neue Montreal Book";
    --font-family-two: "PP Neue Montreal Thin";
    --font-family-three: "PP Gatwick Jet Extralight";

    --font-family-main: "Roslindale Display Condensed, sans-serif";

    --background-color-primary: #539aa6e5;
    --background-color-secondary: #3e1406e5;
    --background-color-ternary: #2e7f8de5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family-main);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: #ffe2e2;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.upper {
    text-transform: uppercase;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    text-transform: uppercase;
    position: fixed;
    padding-inline: 1.2rem;
    max-width: 40rem;
    margin: auto;
    z-index: 1000;
    background: #ffe2e2;
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
}
.nav-logo {
    flex: 1;
    text-align: center;
    position: relative;
}
.nav-logo::before {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: .2rem;
    border-radius: 2px;
    background-color: black;
}
/* .nav-logo > h1:last-child {
    text-align: end;
} */
.nav-icons {
    display: flex;
    flex: 1;
    justify-content: start;
    gap: 1.5rem;
}
.nav-icon {
    width: 2.5rem;
    height: 2.5rem;
}
.nav-menu-btn {
    flex: 1;
    font-size: 1.4rem;
    position: relative;
}
.nav-menu-btn > h2 {
    text-align: end;
    cursor: pointer;
}
.nav-light-icon {
    cursor: pointer;
}
.circ {
    position: absolute;
    top:-2.5rem;
    right: -.6rem;
    width: 6rem;
    height: 100%;
    padding: 3.5rem;
    border-radius: 59% / 30% 58% 23% 34%;    
    border: 1px solid;
    transform: rotate(0deg);
    animation: circ 16s linear infinite;
    z-index: -1;
}
.sub-nav {
    position: relative;
    top: 13rem;
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    margin: auto;
    padding: .5rem 0;
    /* padding: 0 1rem; */
    border-bottom: 2px solid black;
}
.container {
    margin: 0 auto;
    padding: 0 1.2rem;
    max-width: 40rem;
}
main {
    position: relative;
    top: 20rem;
}

.hero {
    margin-bottom: 10rem;
}
.hero-header {
    font-size: 2.3rem;
    margin-bottom: 3rem;
}
.hero-header > h1 {
    font-weight: 100;
}
.hero-info {
    display: grid;
    gap: 4rem;
}
.hero-info > h3 {
    font-size: 2.1rem;
    font-weight: 100;
    max-width: 28rem;
    line-height: 1.2;
}
.contact-form {
    position: relative;
    padding-bottom: 2rem;
    /* top: 10rem; */
}
#lhome {
    border-bottom: 1px solid;
    color: #2891dd;
}


.form-form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2rem;
}
.form-form > div {
    display: grid;
    gap: 1rem;
}
.form-form > div > input,
.form-form > div > select {
    padding: 1.5rem .5rem;
}
.name > p,
.email > p,
.phone > p,
.date > p,
.time > p, 
.address > p,
.zipcode > p {
    position: relative;
    width: fit-content;
}
.name > p::after,
.email > p::after,
.phone > p::after,
.date > p::after,
.time > p::after, 
.address > p::after,
.zipcode > p::after {
    content: "*";
    position: absolute;
    right: -1rem;
    color: red;
}
.method{
    margin-bottom: 2rem;
    position: relative;
}
.method > select {
    cursor: pointer;
    background: white;
    outline: none;
    border: 1px solid grey;
    color: grey;
    border-bottom: 2px solid white;
}

.schedule {
    display: grid;
    position: relative;
    padding-top: 5rem;
}
.schedule > h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
}
.planner {
    position: relative;
    display: grid;
    gap: 1.5rem;
}
.planner > div {
    display: grid;
    gap: 1rem;
}
.planner > div > input {
    padding: 1.5rem 1rem;
}
.services {
    margin-top: 2rem;
}
.services-header > h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
}
.services-info {
    border: 1px solid;
    padding-left: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.choice {
    display: flex;
    gap: 1rem;
}
textarea {
    height: 15rem;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 100;
    outline: none;
}
.submit-btn {
    padding: 1.4rem;
    text-transform: uppercase;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
}
@keyframes circ {
    0% {
        border-radius: 59% / 30% 58% 23% 34%;
        transform: rotate(360deg);    
    }
    50% {
        border-radius: 39% / 50% 20% 65% 46%;    
        transform: rotate(360deg);
    }
    100% {
        border-radius: 79% / 66% 43% 83% 24%;
        transform: rotate(360deg);    
    }
}