@font-face {
    font-family:"PP Neue Montreal Book";
    src: url("./public/fonts/PP\ Neue\ Montreal\ -\ Free\ for\ Personal\ Use\ v2.6/OTF/PPNeueMontreal-Book.otf");
}
@font-face {
    font-family: "PP Neue Montreal Thin";
    src: url("./public/fonts/PP\ Neue\ Montreal\ -\ Free\ for\ Personal\ Use\ v2.6/OTF/PPNeueMontreal-Thin.otf");
}
@font-face {
    font-family: "PP Gatwick Jet Extralight";
    src: url("./public/fonts/PP\ Gatwick\ -\ Free\ for\ Personal\ Use\ v2.0/otf/PPGatwick-JetExtralight.otf");
}
@font-face {
    font-family: "Roslindale Display Condensed, sans-serif";
    src: url("../fonts/Roslindale_Web/fonts/RoslindaleDisplayCondensed-Regular.woff");
}
:root {
    --font-family-one: "PP Neue Montreal Book";
    --font-family-two: "PP Neue Montreal Thin";
    --font-family-three: "PP Gatwick Jet Extralight";

    --font-family-main: "Roslindale Display Condensed, sans-serif";

    --background-color-primary: #539aa6e5;
    --background-color-secondary: #3e1406e5;
    --background-color-ternary: #2e7f8de5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-main);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    background: #37462a;
}
ul {
    display: flex;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
button, input {
    border: none;
    outline: none
}
.upper {
    text-transform: uppercase;
}
.border { 
    border: 1px solid red;
}
main {
    display: none;
}
.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 90rem;
}
.preloader {
    perspective: 2000px;
    text-align: center;
    align-content: center;
    height: 100vh;
    position: relative;
    background-color: hsl(17, 55.6%, 57.6%);
}
.preloader-logo {
    text-transform: uppercase;
    max-width: fit-content;
    margin: auto;
    min-width: 20rem;
    line-height: 1.1;
    /* perspective: 1000px; */
    /* border: 1px solid red; */
    transform-style: preserve-3d;
}
.preload-text {
    font-size: 5.5rem;
    color: white;
}
.preload-text-one {
    display: inline-block;
    position: relative;
    transform: translateZ(-6000rem);
}
.preload-text-two {
    display: inline-block;
    left: .5rem;
    position: relative;
    transform: translateZ(-6000rem);
    /* transition: transform 350ms 20ms ease; */

}
.preload-text-three {
    display: block;
    /* text-align: start; */
    /* max-width: 16rem; */
    text-align: end;
    margin: auto;
    transform: translateZ(-6000rem);
    /* transition: transform 350ms 25ms ease; */
}
.preload-sub-text {
    border: 1px solid;
    text-align: center;
    border: none;
    padding-bottom: .3rem;
    margin: auto;
    width: 0%;
    overflow: hidden;
    /* white-space: nowrap; */
    border-bottom: 3px solid;
    transition: width 650ms ease;
}
.preload-sub-text > h2 {
    white-space: nowrap;
    text-align: center;
    position: relative;
}
.preload-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.preload-cover > div {
    height: 0;
    background: #37462a;
    transition: 650ms 50ms ease;
}

nav {
    color: white;
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    overflow: hidden;
}

.nav-logo {
    width: fit-content;
    text-transform: uppercase;
    overflow: hidden;
}
.nav-logo > h1 {
    position: relative;


    top: -20rem;
}
.nav-logo > h1:last-child {
    text-align: end;
    position: relative;
}
.nav-logo > h1:last-child::before {
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 5rem;
    height: .18rem;
    background: white;
    border-radius: 3px;
}
.nav-sets {
    display: flex;
    gap: 2rem;
    align-items: center;
    overflow: hidden;
}
.nav-state-logo {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: -20rem;
}
.nav-state-logo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0rem .1rem;
    /* color: white; */
}
.nav-menu {
    border: 2px solid;
    position: relative;
    padding: .8rem;
    border-radius: 2px;
    

    top: -20rem;

}


.nav-menu-title {
    cursor: pointer;
}
.sub-nav {
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    
    margin: 0 auto;
    width: 0;
    overflow: hidden;
}
.sub-nav > h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.gallery {
    /* display: grid; */
    columns: 200px;
    position: relative;
    top: 20rem;
    margin-bottom: 30rem;
}

.gal {
    display: flex;
    margin: 2rem 0;
    gap: 3rem;
    opacity: 0;
    transition: all 650ms ease;
}
.gal > img {
    width: 100%;
}
.hero {
    position: relative;
    top: 5rem;
    color: white;
    font-size: 3rem;
    height: 0;
    min-height: 30rem;
}
.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
.hero-left {
    grid-column: 1;
    grid-row: 1 /span 3;
}
.hero-right {
    grid-column: 2;
    grid-row: 1/ span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.hero-right > h1 {
    position: relative;
    font-size: 2.6rem;
    text-align: end;

    top: -20rem;
}
.hero-right > h1::after {
    content: "";
    position: absolute;
    bottom: -.2rem;
    right: 0;
    width: 7.5rem;
    border-radius: 3px;
    background-color: white;
    height: .25rem;
}
.hero-right > p {
    font-size: 1.35rem;
    text-align: end;
    position: relative;

    top: -50rem;
}
.video {
    width: 20rem;
    /* height: 100%; */
    height: 0;
    /* border: 1px solid; */
}
.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact-info {
    position: relative;
    /* top: 25rem; */
}
.reach-us-wrapper {
    overflow: hidden;
    height: auto
}
.reach-us-header {
    font-size: 5rem;
    color: #fee3e8;
    text-align: center;
    position: relative;
    top: 25rem;
    transition: top 650ms ease;
}
.contact-info {
    height: auto;
}
.contact-box {
    display: grid;
    gap: 3rem;
    margin-top: 4rem;
}
.contact-phone-header,
.contact-email-header {
    overflow: hidden;
    transition: all 550ms ease;
    width: 0;
}
.contact-phone-header {
    border: 2px solid white;
    transform: skew(-10deg);
}
.contact-email-header {
    border: 2px solid white;
    transform: skew(10deg);
}
.contact-phone-number,
.contact-email-address {
    overflow: hidden;
}
.contact-phone-number > a,
.contact-email-address > a {
    font-size: 1.5rem;
}

 .phone-header,
 .email-header {
    color: white;
    font-size: 8rem;
 }
 .email-header { 
    text-align: start
 }
 .phone-number,
.email {
    color: #fee3e8;
    text-align: end;
    transition: left 650ms ease;
}
 .phone-number {
    font-size: 2.8rem;
    width: fit-content;
    position: relative;
    margin-left: auto;
    left: 80rem;
    /* border-bottom: 2px solid #fee3e8; */
 }

 .email {
    font-size: 1.5rem;
    position: relative;
    /* border-bottom: 2px solid #fee3e8; */
    margin-left: auto;
    width: fit-content;
    left: -80rem;
    /* word-break: break-all; */
 }




#number, #email {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}


footer {
    position: relative;
    top: 15rem;
    background-color: white;
    color: #37462a;
    padding-top: 3rem;
}
.footer-title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: auto;
    border-bottom: 2px solid #37462a;
    max-width: 25rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 3rem auto;
    max-width: 35rem;
}
.social-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: blue;
    border-radius: 50%;
}
.social-icon > img {
    width: 100%;
    height: 100%;
}

.footer-logo {
    overflow: hidden;
    max-height: 18rem;
}
.footer-logo > h1 {
    font-size: 18rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}